.recent-activity {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;

  
}

.recent-activity > * {
  font-size: 0.8rem;
}

.recent-activity-right {
  min-width: fit-content;
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}
